body {
     background-image: url(../pics/bakgrund.png);
     background-size: 100%;
    background-repeat: no-repeat;
}

img {
    height: auto;
    max-width: 100%;
    transition: all .15s ease-in-out; 
}

.logohead {
    width: 100%;
    max-width: 1000px;
    padding-bottom: 8%;
    padding-top: 10%;
}

.playbtn {
    width: 40%;
    position: relative;
    left: 50%;
    bottom: 50%;
    padding-bottom: 5%;
    
}
.rulesbtn {
    width: 60%;
    position: relative;
    left: 2%;
    padding-bottom: -5%;
}
.setbtn {
    width: 50%;
    position: relative;
    left: 45%;
    bottom: 10%;
}

img:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
}

.pagetitle {
    font-size: 6em;
}

.rulesbox {
    width: 80%;
    margin-left: 10%;
    background-color: white;
    opacity: 0.5;
    text-align: left;
    padding: 10px;
    min-height: 40vh;;
    
}

.scorebutton {
    margin: 10%;
    width: 80%;
    height: 10%;
}

.points {
    font-size: 6em;
    margin-left: 0%;
}

.time {
    font-size: 7em;
    margin-left: auto;
}