body {
     background-image: url(../pics/bakgrund.png);
     background-size: 100%;
    background-repeat: no-repeat;
}

img {
    height: auto;
    max-width: 100%;
    transition: all .15s ease-in-out; 
}

.logohead {
    width: 100%;
    max-width: 1000px;
    padding-bottom: 15%;
    padding-top: 10%;
}

.playbtn {
    width: 40%;
    position: relative;
    left: 50%;
    bottom: 50%;
    padding-bottom: 2%;
    
}
.rulesbtn {
    width: 60%;
    position: relative;
    left: 2%;
    padding-bottom: -5%;
    
}
.setbtn {
    width: 50%;
    position: relative;
    left: 40%;
}

img:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}



